@value mediaQuery,makerWhite from '../../common/size.css';

.project {
  background-color: rgb(243, 242, 242);
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 0.8em;
  box-sizing: border-box;
  overflow-y: auto;
}

.image{
  width: 17em;
  height: 17em;
  margin-right: 1em;
}

.infoContainer p{
  margin:0;
  margin-top: 0.5em;
}
.title{
  font-size: 1.5em;
  margin:0;
}
.creator{
  font-size: 0.8em;
}
.skills{
  font-size: 1em;
  font-weight: 500;
}
.link{
  margin-top: 0.7em;
  color: blue;
  font-size: 0.6em;
  opacity: 1;
}
.link:hover{
  opacity: 0.8;
}
.desc{
  white-space: pre;
  font-size: 0.9em;
}


@media screen and (max-width: mediaQuery) {
  .project {
    flex-direction: column;
  }

  .image{
    margin-right: 0;
    margin-bottom: 1em;
  }
}