.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1em auto;
  transform: translateY(10%);
}

.form input,
.form textarea{
  width: 90%;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

.form input:focus,
.form textarea:focus{
  outline: none;
  border:1px solid #eee;
}

textarea {
  resize: none;
}
.form input[type="file"]{
  border: none;
  box-shadow: none;
}

button{
  width: 10em;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal > form {
  width: 90%;
  max-width: 400px;
  margin:0 auto;
  padding: 0.5em 2em;
  border-radius: 1em;
  background-color: #fff;
  animation: modal-show .3s;
  overflow: hidden;
}
.modal > form > header {
  position: relative;
  padding: 0.5em;
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 1.3em;
  color: rgb(10, 10, 156);
  margin-bottom: 0.5em;
}

.modal > form > header > button {
  position: absolute;
  top: 0.4em;
  right: 0.5em;
  width: 30px;
  font-size: 21px;
  font-weight: 800;
  text-align: center;
  color: #000;
  border: none;
  background-color: transparent;
}
.modal > form > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  text-align: center;
}
.modal.openModal {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: modal-bg-show .3s;
}
@keyframes modal-show {
  from {
      opacity: 0;
      margin-top: -50px;
  }
  to {
      opacity: 1;
      margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
