.editor{
  flex-basis: 50%;
  padding: 0 1em;
  text-align: center;
}
.addBtn {
  padding: 0.8em;
  font-size: 1.2em;
  font-weight: 800;
  border: 1px solid #eee;
  border-radius: 0.8em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
  
}
.editor > h1 {
  font-size: 1.5em;;
  margin-bottom: 0;
}
.editor > h1 > span{
  font-size: 1.2em;
}

.line{
  width: 80%;
  height: 0.1px;
  background-color: #ddd;
  /* margin-top: 2em; */
  margin: 2em auto 0 auto;
}