 @value mediaQuery,makerWhite from '../../common/size.css';

.slideItem{
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease-in;
}

.slideItem.active {
  visibility: visible;
  left: 50%;
  opacity: 1;
}

.itemContainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}
.infoContainer{
  padding-top: 1em;
}

.slideItem .image{
  width: 20em;
  height: 20em;
  box-shadow: 2px 14px 40px rgba(0, 0, 0, 0.3);
}

.title{
  font-size: 1.5em;
  font-weight: 700;
  margin:0;
  margin-bottom: 0.4em;
}

.creator{
  font-size: 0.8em;
}

.skills{
  font-size: 1.1em;
  font-weight: 600;
}

.link{
  margin-top: 0.8em;
  color: blue;
  font-size: 0.8em;
  opacity: 1;
}

.link:hover{
  opacity: 0.8;
}

.desc{
  white-space: pre;
  font-size: 1em;
}

@media screen and (max-width: mediaQuery) {

  .itemContainer{    
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .link{
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  .slideItem p{
    margin: 0;
    margin-bottom: 0.5em;
  }
}