.mainheader {
  font-family: 'Cafe24Danjunghae';
  width: 100%;
  /* background-color: #bad7f5; */
  background-color: #fff;
  padding: 1.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.scrollBar{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: #3c40c6;
  z-index: 110;
  transition: all .3s ease-in-out;
}

a{
  text-decoration: none;
  font-size: 2.2em;
  font-weight: 600;
  color: #000;
  margin-right: 1em;
  opacity: 1;

}

a:hover{
  opacity: 0.8;
}
