
@value mediaQuery,makerWhite from '../../common/size.css';

.create {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: makerWhite;
}
.create .desc{
  text-align: center;
  margin: 1em auto 1.5em auto;
  border-bottom: 4px solid skyblue;
  width: 350px;
}
.container {
  display: flex;
  flex: 1;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }
}