@value mediaQuery,makerWhite from '../../common/size.css';

.slider{
  width: 100%;
  height: 90vh;
  position: relative;
  background: linear-gradient(120deg,#aef8f8,#74b9ff);
  z-index: 10;
}

.prevBtn{
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);

  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  border-right: 2em solid #eee;

  z-index: 60;
  cursor: pointer;

}

.nextBtn{
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-left: 2em solid #eee;
  border-bottom: 1em solid transparent;
  
  cursor: pointer;
  z-index: 60;

}
.prevBtn:hover{
  border-right-color: #fff;
}

.nextBtn:hover{
  border-left-color: #fff;
}
.liBtn {
  position: absolute;
  bottom: 2em;
  left:50%;
  transform: translateX(-50%);
}

.liBtn li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}

  .liBtn  .currentli,
  .liBtn li:hover {
  background-color: black;
}

@media screen and (max-width: mediaQuery) {
  
  .slider:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .prevBtn{
    left:0;
  }
  .nextBtn{
    right:0;
  }
}
.slideContain{
  max-width: 1200px;
}